#skills {
  background-image: url(../../../src/assets/wave-bg-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -42rem;
}

.skills__content {
  margin-top: 10rem;
}

.skills__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.skills__item {
  width: 19rem;
  height: 11rem;
  padding: 2.5rem;
  border-radius: 1rem;
  margin-bottom: 6rem;
  transition: var(--transition);
}

.skills__item img {
  width: 6rem;
  margin: 0 auto;
}

/* Logos */

.html {
  -webkit-box-shadow: 0px 19px 26px 3px #e4563384;
  box-shadow: 0px 19px 26px 3px #e4563384;
}

.html:hover {
  background: #e4563384;
}

.css {
  -webkit-box-shadow: 0px 19px 26px 3px #0278bd76;
  box-shadow: 0px 19px 26px 3px #0278bd76;
}

.css:hover {
  background: #0278bd76;
}

.sass {
  -webkit-box-shadow: 0px 19px 26px 3px #cd679879;
  box-shadow: 0px 19px 26px 3px #cd679879;
}

.sass img {
  transform: translateY(20%);
}

.sass:hover {
  background: #cd679879;
}

.javascript {
  -webkit-box-shadow: 0px 19px 26px 3px #ffd5007b;
  box-shadow: 0px 19px 26px 3px #ffd5007b;
}

.javascript:hover {
  background: #ffd5007b;
}

.php {
  -webkit-box-shadow: 0px 19px 26px 3px #777bb379;
  box-shadow: 0px 19px 26px 3px #777bb379;
}

.php img {
  transform: translateY(40%);
}

.php:hover {
  background: #777bb379;
}

.wordpress {
  -webkit-box-shadow: 0px 19px 26px 3px #41a0c677;
  box-shadow: 0px 19px 26px 3px #41a0c677;
}

.wordpress:hover {
  background: #41a0c677;
}

.react {
  -webkit-box-shadow: 0px 19px 26px 3px #00d8fe60;
  box-shadow: 0px 19px 26px 3px #00d8fe60;
}

.react:hover {
  background: #00d8fe60;
}

.typescript {
  -webkit-box-shadow: 0px 19px 26px 3px #3179c670;
  box-shadow: 0px 19px 26px 3px #3179c670;
}

.typescript:hover {
  background: #3179c670;
}

.github {
  -webkit-box-shadow: 0px 19px 26px 3px #eeeeee68;
  box-shadow: 0px 19px 26px 3px #eeeeee68;
}

.github:hover {
  background: #eeeeee68;
}

.git {
  -webkit-box-shadow: 0px 19px 26px 3px #f04f3376;
  box-shadow: 0px 19px 26px 3px #f04f3376;
}

.git:hover {
  background: #f04f3376;
}

.skills__header-content {
  text-align: center;
  margin: 3rem 0 4rem;
}

/* ============== MEDIA QUERIES (EXTRA-LARGE DEVICES) =============== */

@media screen and (max-width: 2000px) {
  #skills {
    background-position-y: -45rem;
  }

  .skills__container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .skills__item {
    margin: 1.5rem auto;
    height: 10rem;
    width: 17.5rem;
    padding: 2.2rem;
  }

  .skills__item img {
    width: 5.5rem;
  }
}

/* ============== MEDIA QUERIES (LARGE DEVICES) =============== */

@media screen and (max-width: 1600px) {
  #skills {
    background-position-y: -54.4rem;
  }

  .skills__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .skills__item {
    margin: 1.5rem auto;
    height: 8.5rem;
    width: 15rem;
    padding: 1.9rem;
  }

  .skills__item img {
    width: 4.5rem;
  }
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) =============== */

@media screen and (max-width: 1024px) {
  #skills {
    background-position-y: -65rem;
  }

  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .skills__item {
    margin: 1.5rem auto;
  }
}

/* ============== MEDIA QUERIES (SMALL DEVICES) =============== */

@media screen and (max-width: 600px) {
  #skills {
    background: none;
  }

  .skills__header-content {
    margin: 0rem 0 1rem;
  }

  .skills__container {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .skills__content {
    margin-top: 0;
  }

  .skills__item {
    margin: 1.5rem auto;
    height: 6rem;
    width: 10rem;
    padding: 1.5rem;
  }

  .skills__item img {
    width: 3rem;
  }
}
