#about {
  height: 70vh;
  background-color: var(--color-bg);
}

.about__container {
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* =============== IMAGE CONTAINER ================= */

.about__me {
  width: 80%;
  height: 85%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
}

.about__me-image {
  width: 100%;
}

.about__header-content {
  text-align: center;
  margin-bottom: 2rem;
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about__me-image img {
  width: 100%;
}

.about__me-image:hover {
  transform: rotate(0);
}

/* ============ CARD CONTENT ============ */

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 0.25rem;
}

small {
  color: var(--color-light);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__card {
  text-align: center;
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 2rem 1.25rem;
  transition: var(--transition);
}

.about__card:hover {
  cursor: default;
  background: transparent;
  border-color: var(--color-primary);
}

.about__text {
  margin: 2rem 0;
  font-size: 1.2rem;
}

/* ============== MEDIA QUERIES (EXTRA-LARGE DEVICES) =============== */

@media screen and (max-width: 2000px) {
  #about {
    height: 90vh;
  }

  .about__me {
    height: 63.5%;
  }

  .about__text {
    font-size: 1.1rem;
  }
}

/* ============== MEDIA QUERIES (LARGE DEVICES) =============== */

@media screen and (max-width: 1600px) {
  #about {
    height: 120vh;
  }

  .about__me {
    height: 43%;
  }

  .container.about__container {
    width: 90%;
  }

  .about__text {
    font-size: 1rem;
  }
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
  #about {
    height: 111vh;
  }

  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 50%;
    height: 55%;
    margin: 1rem auto 1rem;
  }

  .about__content p {
    margin: 2rem 0 1.5rem;
    font-size: 1rem;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
  #about {
    height: 207vh;
  }

  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__content {
    text-align: left;
  }

  .about__content {
    margin: 0;
  }
}
