@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");

header {
  height: 100vh;
  background-image: url(../../../src/assets/wave-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.aimee_logo {
  position: absolute;
  left: 13rem;
  margin-top: 1rem;
  width: 5rem;
}

.header__container {
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header__content {
  margin: auto;
}

h1 {
  font-size: 4rem;
  line-height: 5rem;
  margin-left: 3rem;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--color-light);
}

.header__aimee-img img {
  width: 100%;
}

/* ================ TYPEWRITER EFFECT =============== */

.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 95%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* ================ CTA =============== */

.cta {
  margin: 1.5rem 0 1.5rem 1.5rem;
  display: flex;
  gap: 1.2rem;
}

/* =============== HEADER SOCIALS ================= */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  position: absolute;
  left: -5rem;
  bottom: 0;
  font-size: 1.25rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ============== MEDIA QUERIES (EXTRA-LARGE DEVICES) =============== */

@media screen and (max-width: 2000px) {
  .aimee_logo {
    left: 9rem;
    width: 5rem;
  }
}

/* ============== MEDIA QUERIES (LARGE DEVICES) =============== */

@media screen and (max-width: 1600px) {
  .container.header__container {
    width: 90%;
  }
  h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
  p {
    font-size: 1.2rem;
  }
  .header__socials {
    left: -1rem;
    bottom: -1.5rem;
    font-size: 1.1rem;
  }
  .aimee_logo {
    left: 2.5rem;
    width: 4rem;
  }
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) =============== */

@media screen and (max-width: 1024px) {
  .header__container {
    grid-template-columns: 1fr;
  }
  .header__aimee-img {
    width: 60%;
    margin: 2rem auto;
  }
  h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
  p {
    font-size: 1.2rem;
  }
  .header__socials {
    left: 0rem;
  }
}

/* ============== MEDIA QUERIES (SMALL DEVICES) =============== */

@media screen and (max-width: 600px) {
  header {
    height: 90vh;
  }
  .header__container {
    grid-template-columns: 1fr;
  }
  .header__aimee-img {
    width: 90%;
    margin: 1rem auto;
  }
  h1 {
    margin-left: 0;
    margin-bottom: 0.5rem;
    font-size: 2.25rem;
    line-height: 3rem;
  }
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
  }
  .cta {
    display: none;
  }
  .header__socials {
    display: none;
  }
  .tag {
    display: none;
  }

  .aimee_logo {
    display: none;
  }
}
